<h1 mat-dialog-title>Edit: {{data.oldUser.name}}</h1>
<div mat-dialog-content>
  <div class="picture-area">
    <div class="user-pic">
      <div class="img-container">
        <div class="image" [style.backgroundImage]="'url(' + currentUpload + ')'" *ngIf="data.avatar"></div>
        <div class="image" style="background-image: url('../../../assets/placeholder_user.png')" *ngIf="!data.avatar"></div>
      </div>
      <span class="img-label">New Picture</span>
    </div>
    <input id="avatarFile" type="file" #avatar (change)="addAvatarToData($event)" accept=".jpg, .png, .jpeg"
           class="avatarFile"/>
    <label for="avatarFile"><span class="far fa-fw fa-upload uploadicon"></span> {{filelabel}}</label>
    <div class="user-pic">
      <div class="img-container">
        <div class="image" [style.backgroundImage]="'url(' + data.user.pic + ')'" *ngIf="data.user.pic"></div>
        <div class="image" style="background-image: url('../../../assets/placeholder_user.png')" *ngIf="!data.user.pic"></div>
      </div>
      <span class="img-label">Current Picture</span>
    </div>
  </div>
  <mat-form-field>
    <input matInput placeholder="Name" required [(ngModel)]="data.user.name">
    <span matPrefix><span class="far fa-fw fa-user"></span></span>
    <div matSuffix class="revert" (click)="revertField('name')"><span class="far fa-fw fa-undo"></span></div>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Supername" [(ngModel)]="data.user.supername">
    <span matPrefix><span class="far fa-fw fa-user-secret"></span></span>
    <div matSuffix class="revert" (click)="revertField('supername')"><span class="far fa-fw fa-undo"></span></div>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Affiliates" [(ngModel)]="data.user.affiliates">
    <span matPrefix><span class="far fa-fw fa-users"></span></span>
    <div matSuffix class="revert" (click)="revertField('affiliates')"><span class="far fa-fw fa-undo"></span></div>
  </mat-form-field>
</div>
<div mat-dialog-actions class="right">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="!canSave()">Save</button>
</div>
