<h1 mat-dialog-title>Add new user</h1>
<div mat-dialog-content>
  <div class="picture-area">
    <div class="user-pic">
      <div clasS="img-container">
        <img [src]="currentUpload" *ngIf="data.avatar"/>
        <img src="../../../assets/placeholder_user.png" *ngIf="!data.avatar"/>
      </div>
      <span class="img-label">New Picture</span>
    </div>
    <input id="avatarFile" type="file" #avatar (change)="addAvatarToData($event)" accept=".jpg, .png, .jpeg"
           class="avatarFile"/>
    <label for="avatarFile"><span class="far fa-fw fa-upload uploadicon"></span> {{filelabel}}</label>
  </div>
  <mat-form-field>
    <input matInput placeholder="Name" required [(ngModel)]="data.user.name">
    <span matPrefix><span class="far fa-fw fa-user"></span></span>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Supername" [(ngModel)]="data.user.supername">
    <span matPrefix><span class="far fa-fw fa-user-secret"></span></span>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Affiliates" [(ngModel)]="data.user.affiliates">
    <span matPrefix><span class="far fa-fw fa-users"></span></span>
  </mat-form-field>
</div>
<div mat-dialog-actions class="right">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data" [disabled]="!canSave()">Save</button>
</div>
