$color-primary-dark: #512DA8;
$color-primary-light: #D1C4E9;
$color-primary: #673AB7;
$color-accent: #448AFF;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-icons: #FFFFFF;
$color-divider: #BDBDBD;
